* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  scroll-behavior: smooth;
}

@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway-VariableFont_wght.woff");
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.woff");
}

@font-face {
  font-family: RobotoSlab;
  src: url("../fonts/RobotoSlab-VariableFont_wght.woff");
}

header,
li,
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #c5001a;
  height: 90px;
}

header {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  padding: 0px 15px;
  transition: 0.5s;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: Raleway;
  font-weight: 700;
}

li:hover {
  color: black;
  background-color: white;
}

.back-img {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container {
  width: 80%;
}

.home-txt {
  font-family: RobotoSlab;
  font-weight: 700;
  font-size: 48px;
  color: white;
  width: 520px;
}

.button {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 15px 45px;
  border: none;
}

.about-button {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 15px 45px;
  background-color: #c5001a;
  color: white;
  border: none;
}

.notes-container {
  display: flex;
  justify-content: space-around;
  padding: 150px 0px;
}

.notes {
  width: 80%;
  font-size: 24px;
  font-family: Roboto;
  text-align: justify;
}

.about-container {
  background-color: #e4e3db;
  padding: 150px 0px;
}

.about {
  width: 80%;
}

.about-exp-container {
  display: flex;
}

.about-exp {
  width: 50%;
  margin-left: 10%;
  margin-right: 5%;
}

.p {
  font-family: Roboto;
  font-size: 24px;
  text-align: justify;
}

h2 {
  font-family: RobotoSlab;
  font-size: 42px;
  color: #c5001a;
}

h3 {
  font-family: Roboto;
  font-size: 28px;
}

.log-his-container {
  display: flex;
  justify-content: space-around;
}

.log-his {
  width: 80%;
}

.about-img {
  background-repeat: no-repeat;
  height: 100%;
  float: right;
  width: 50%;
}

.img-container {
  display: flex;
}

.img-item {
  width: 25%;
}

.img-item:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.forBuyers-container {
  display: flex;
  justify-content: space-around;
  padding: 150px 0px;
}

.forBuyers {
  width: 80%;
}

.forSellers-container {
  display: flex;
  background-color: #113743;
  color: white;
}

.forSellers {
  width: 50%;
  margin-left: 10%;
  margin-right: 5%;
  margin-top: 150px;
}

.forSellers h2 {
  color: white;
}

.forSellers-img {
  width: 50%;
  height: 100%;
}

.contact {
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: #c5001a;
  padding: 30px 0px;
}

.contact h2 {
  color: white;
}

.copyright {
  display: flex;
  justify-content: space-around;
  padding: 15px 0px;
  font-family: Roboto;
}
